# Top level dependencies
girder>=3.0.4
girder-jobs>=3.0.3
# We install only the tile sources we need for testing; using [all] is probably
# better for development.
large-image[openslide,pil]>=1.0.2.dev2
# External dependencies
pip>=9
tox
twine
virtualenv

