#g-dsa-form
  .g-dsa-description
    font-size 12px
    margin 0 0 2px

#g-dsa-banner-color, #g-dsa-brand-color
  display inline
  max-width 160px

#g-dsa-banner-default-color, #g-dsa-brand-default-color
  width 65px
  display inline
  // Vertical-align is useful to avoid an 5px offset in Mozilla
  vertical-align top
