/* START variables
 * ==================================== */

$top-offset: 70px

/* ====================================
 * END variables */

/* START Misc.
 * ==================================== */

.button
  &.is-secondary
    background-color: $secondary
    border-color: transparent
    color: #fff

    &:hover
      background-color: darken($secondary, 3%)

    &.is-outlined
      background-color: transparent
      border-color: $secondary
      color: $secondary

      &:hover
        background-color: $secondary
        color: #fff


/* ====================================
 * END Misc. */

/* START text styles
 * ==================================== *

.content
  h1,
  h2,
  h3
    font-weight: 300

.hero-body
  .title
    font-size: 54px
    font-weight: 300
    padding-bottom: 10px

  .subtitle
    font-size: 20px
/* .hero-body */

/* ====================================
 * END text styles */

/* START header
 * ==================================== */

body > .navbar
  height: $top-offset

/* ====================================
 * END header */

/* START hero
 * ==================================== */

.home
  .hero
    height: calc(100vh - #{$top-offset})

    &.has-hero-image
      position: relative

      .hero-body
        align-items: center
        display: flex
        height: 100%
        position: absolute
        width: 100%
        z-index: 2

        .container
          max-width: 768px
          padding-bottom: 64px
          text-align: center

          .hero-buttons
            padding: 20px 0

          .hero-button
            background: rgba(255, 255, 255, .5)
            border: 2px solid #fff
            color: #fff
            margin: 0 5px
            transition: background .15s ease-in-out, color .15s ease-in-out

            &:hover
              background: #fff
              color: #363636

      &::before
        background: #000
        content: ''
        height: 100%
        opacity: .8
        position: absolute
        width: 100%
        z-index: 1
    /* &.has-hero-image */
  /* .hero */
/* .home */

/* ====================================
 * END hero */

/* START content area
 * ==================================== */

.section
  &:nth-of-type(even)
    background: #f5f5f5
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2)

.home
  .what-is-dsa
    color: $gray
    font-weight: 600

    .resource-links
      display: flex
      list-style: none
      margin: 0
      padding: 45px 0 10px

      li
        flex-grow: 1
        margin: 5px
        padding: 0

        a
          align-items: flex-end
          color: darken($gray, 15%)
          display: flex

          img
            margin-right: 10px

  .platforms
    .column
      &:nth-of-type(odd)
        h2
          color: $primary

      &:nth-of-type(even)
        h2
          color: $secondary

      .platform-description
        h2
          font-size: 36px

      .platform-image
        padding: 30px 0

      .platform-features
        border-top: 1px solid lighten($gray, 10%)

        .feature
          align-items: flex-start
          display: flex

          .feature-icon
            height: auto
            margin-right: 20px
            min-width: 55px

          .feature-text
            h4
              margin-bottom: 5px


/* ====================================
 * END content area */
