.g-header-wrapper
  .g-app-title
    =brandName || 'Digital Slide Archive'

  form.g-quick-search-form(role="form")
    .form-group.g-quick-search-container

  .g-current-user-wrapper
  .g-clear-both
